.Accounts {
  text-align: center;
  padding: 50px;
  border-style: solid;
  background-color: #aaacaf;
  border-width: 5px;
  border-color: #848587;
  display: inline-block;
  margin: 20px;
  width: 10%;
  box-shadow: 5px 7px 8px -3px rgba(0,0,0,0.34);
  -webkit-box-shadow: 5px 7px 8px -3px rgba(0,0,0,0.34);
  -moz-box-shadow: 5px 7px 8px -3px rgba(0,0,0,0.34);
}

.AccountTotalWrapper {
  width: 100%;
  margin: 15px;
  clear: both;
}
