.AddTransaction {
  float: left;
  text-align: left;
  padding: 2px;
  display: inline-block;
  margin: 5px;
  width: 15%;
}

.transaction-link {
  text-decoration: none;
  color: #fff;
  background-color: #000;
}

.transaction-link:hover {
  color: #000;
  background-color: cyan;
}
