.FormContainer {
  display: flex;
  justify-content: center;
  margin: 20px;
  padding-top: 20px;
}

.TransactionForm {
  width: 60%;
  max-width: 450px;
  border-radius: 10px;
  border-spacing: 10px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 5px 5px 8px #d1d1d1;
  -webkit-box-shadow: 5px 7px 8px -3px rgba(0,0,0,0.34);
  -moz-box-shadow: 5px 7px 8px -3px rgba(0,0,0,0.34);

}


.SubmitButton {
  padding-top: 10px;
}

.FormHeader {
  color: #55088c;
  text-align: center;
}

.Percentage {
  color: #595959;
  text-align: center;
  font-weight: bold;
  font-size: 1.5em;
}

.rangeslider-horizontal .rangeslider__fill {
  background-color: #420865;
}

#formBasicName.form-control {
  max-width: 200px;
  max-height: 25px;
  background: #fffcfc;
  color: #17a2b8;
  font-weight: bold;
}
